
body {
    font-family: Arial, sans-serif;
  }

  table{
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 20px;
}
