.navbar{
    background-color: #ccc;
    display: flex;
}

.navbar img{
    width: 25px;
    height: 25px;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    list-style: none;
}

.nav-cart-counter{
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: white;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: -35px;
    margin-left: 15px;
}