table{
    border: 1px solid black;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 10px;
}

button{
    margin-top: 10px;
    display: block;
    margin-right: auto;
    padding: 5px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.container{
    display: grid;
}

@media print {
    body *{
        visibility: hidden;
    }
    
    .item-show, .item-show *{
        visibility: visible;
    }
}